<head th:fragment="imports"><!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/animations.css}">
	<link rel="stylesheet" th:href="@{/css/font-awesome5.css}">
	<link rel="stylesheet" th:href="@{/css/icomoon.css}">
	<link rel="stylesheet" th:href="@{/css/main.css}" class="color-switcher-link">
	<link rel="stylesheet" th:href="@{/css/shop.css}" class="color-switcher-link">
	<script th:src="@{/js/vendor/modernizr-2.6.2.min.js}"></script>

	<!--[if lt IE 9]>
		<script th:src="@{/js/vendor/html5shiv.min.js}"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->
</head>