<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Chesstar</title>
	<meta charset="utf-8">
	<th:block th:replace="fragments/imports :: imports"></th:block>
</head>

<body>
		<th:block th:replace="fragments/admin_header :: admin_header"></th:block>
			<section class="page_slider">
				<div class="flexslider" data-nav="false">
					<ul class="slides">
						<li class="ds slide-1 cover-image s-overlay text-left  ">
							<img src="images/slide01.jpg" alt="img">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-12 text-center text-sm-left">
										<div class="intro_layers_wrapper">
											<div class="intro_layers d-flex flex-column flex-md-row align-items-md-center">

												<div class="intro_layer" data-animation="fadeIn">
													<img src="images/chess.png" alt="">
												</div>
												<div class="intro_layer" data-animation="fadeInLeft" data-delay="150">
													<h2 class="text-uppercase thin">academic <span class="color-main text-capitalize bold">chess</span></h2>
													<p>
														Best Chess Sets, Tables & Clocks for Sale
													</p>
												</div>


											</div> <!-- eof .intro_layers -->
											<div class="intro_layers ">
												<div class="many-buttons intro_layer" data-animation="fadeIn" data-delay="150">
													<a href="#" class="btn btn-maincolor medium-btn">start now</a>
													<a href="#" class="btn btn-outline-darkgrey medium-btn">learn more</a>
												</div>
											</div>
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>
						<li class="ds slide-2 cover-image s-overlay text-left ">
							<img src="images/slide02.jpg" alt="img">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-12 text-center text-sm-left">
										<div class="intro_layers_wrapper">
											<div class="intro_layers">

												<div class="intro_layer" data-animation="fadeInLeft" data-delay="150">
													<h2 class="text-uppercase thin">academic <span class="color-main text-capitalize bold">chess</span></h2>
													<p>
														We are dedicated to broadening and developing chess as art, recreation, and
														as a significant element of culture in Northern California.
													</p>
												</div>

												<div class="many-buttons intro_layer " data-animation="fadeIn">
													<a href="#" class="btn btn-maincolor medium-btn">start now</a>
													<a href="#" class="btn btn-outline-darkgrey medium-btn">learn more</a>
												</div>
											</div> <!-- eof .intro_layers -->
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>
						<li class="ds slide-3 cover-image s-overlay text-left  ">
							<img src="images/slide03.jpg" alt="img">
							<div class="container">
								<div class="row align-items-center">
									<div class="col-12 text-center text-sm-left">
										<div class="intro_layers_wrapper">
											<div class="intro_layers d-flex flex-column flex-md-row align-items-md-center">

												<div class="intro_layer" data-animation="fadeIn">
													<img src="images/chess2.png" alt="">
												</div>
												<div class="intro_layer" data-animation="fadeInLeft" data-delay="150">
													<p class="special-heading color-main sub-title">
														<span class="text-uppercase">
															welcome
														</span>
													</p>
													<h2 class="special-heading ">
														<span class="text-capitalize ">
															academic <span class="color-main">chess</span> for kids
														</span>
													</h2>
												</div>


											</div> <!-- eof .intro_layers -->
											<div class="intro_layers ">
												<div class="intro_layer" data-animation="fadeIn" data-delay="150">
													<p>
														We are dedicated to broadening and developing chess as art, recreation, and
														as a significant element of culture in Northern California.
													</p>
												</div>
											</div>
											<div class="intro_layers ">
												<div class="many-buttons intro_layer" data-animation="fadeIn" data-delay="150">
													<a href="#" class="btn btn-maincolor medium-btn">start now</a>
													<a href="#" class="btn btn-outline-darkgrey medium-btn">learn more</a>
												</div>
											</div>
										</div> <!-- eof .intro_layers_wrapper -->
									</div> <!-- eof .col-* -->
								</div><!-- eof .row -->
							</div><!-- eof .container-fluid -->
						</li>


					</ul>
				</div> <!-- eof flexslider -->
			</section>

			<!-- Start Section About -->
			<section class="about_us ls s-overlay mobile-overlay s-py-xl-270 s-py-lg-130 s-py-md-90 s-py-60 c-gutter-0 container-px-xl-0">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 text-center text-sm-left">
							<div class="special-column-center d-block d-sm-flex">
								<div class="special-class">
									<p class="special-heading text-center big thin color-main">
										<span>01</span>
									</p>
									<p class="special-heading text-center text-uppercase sub-title2 color-darkgrey">
										<span>
											about us
										</span>
									</p>
									<div class="fw-divider-space divider-30 divider-lg-40"></div>
									<a href="#" class="btn btn-maincolor medium-btn">Start now</a>
									<div class="fw-divider-space divider-30 divider-sm-0"></div>
								</div>

								<div class="text-block with-left-space">
									<p class="excerpt">
										Kids Chess Club is a non-profit Company founded.
									</p>
									<p>
										Our goal is to teach children in grades K-12 abstract concepts of planning, analysis and
										strategy through the game of chess.
									</p>
									<p>
										Kids will be excited to understand and amazed by the positive experience that chess offers.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">

						</div>
					</div>
				</div>
			</section>
			<!-- End Section About -->

			<!-- Start Section Features -->
			<section class="ds s-py-xl-150 s-py-lg-130 s-pt-md-90 s-pb-md-60 s-pt-60 s-pb-30 c-gutter-0 with-particles">
				<div id="features" class="particles-js"></div>
				<div class="container">
					<div class="row">
						<div class="col-12 ">
							<p class="special-heading text-center color-main sub-title">
								<span class="text-uppercase">
									advantages
								</span>
							</p>
							<h2 class="special-heading text-center">
								<span class="text-capitalize ">
									our <span class="color-main">features</span>
								</span>
							</h2>
							<p class="special-heading text-center color-darkgrey">
								<span>
									We are dedicated to broadening and developing chess as art, recreation, and as a significant element of culture in Northern California.
								</span>
							</p>
							<div class="fw-divider-space divider-30 divider-lg-60"></div>
						</div>
						<div class="col-md-6 col-lg-4 text-center text-sm-left border-right border-bottom">
							<div class="media padding">
								<div class="icon-styled color-main fs-52">
									<i class="ico ico-chess"></i>
								</div>

								<div class="media-body">
									<h6>
										Replay Training
									</h6>
									<p>
										Replaying games. Since the very beginning of computers
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 text-center text-sm-left border-right border-bottom">
							<div class="media padding">
								<div class="icon-styled color-main fs-52">
									<i class="ico ico-strategy"></i>
								</div>

								<div class="media-body">
									<h6>
										Search Technology
									</h6>
									<p>
										Both have now been enhanced with a long list of samples
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 text-center text-sm-left border-bottom">
							<div class="media padding">
								<div class="icon-styled color-main fs-52">
									<i class="ico ico-strategy-1"></i>
								</div>

								<div class="media-body">
									<h6>
										Fashion Index
									</h6>
									<p>
										A tool to easily create beautiful chess illustrations
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-lg-4 text-center text-sm-left border-right">
							<div class="media padding">
								<div class="icon-styled color-main fs-52">
									<i class="ico ico-strategy-2"></i>
								</div>

								<div class="media-body">
									<h6>
										Plan Explorer
									</h6>
									<p>
										You just enter a search position the program will automatically deduce
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 text-center text-sm-left border-right">
							<div class="media padding">
								<div class="icon-styled color-main fs-52">
									<i class="ico ico-strategy-3"></i>
								</div>

								<div class="media-body">
									<h6>
										Ray Tracing 3D
									</h6>
									<p>
										Assume you want to search for a pattern a pawn
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4 text-center text-sm-left  ">
							<div class="media padding">
								<div class="icon-styled color-main fs-52">
									<i class="ico ico-strategy-4"></i>
								</div>

								<div class="media-body">
									<h6>
										Chess Movies
									</h6>
									<p>
										The statistics function in the game list has been enhanced
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Section Features -->

			<!-- Start Section Tournament -->
			<section class="ls s-py-xl-150 s-py-lg-130 s-py-md-90 s-py-60">
				<div class="container">
					<div class="row">
						<div class="col-12 ">
							<p class="special-heading text-center color-darkgrey sub-title">
								<span class="text-uppercase">
									table
								</span>
							</p>
							<h2 class="special-heading text-center">
								<span class="text-capitalize ">
									tournament <span class="color-main">list</span>
								</span>
							</h2>
							<p class="special-heading text-center color-darkgrey">
								<span>
									We are dedicated to broadening and developing chess as art, recreation, and as a significant element of culture in Northern California.
								</span>
							</p>
							<div class="fw-divider-space divider-30 divider-lg-60"></div>
							<div class="row shortcode-tournament align-items-center">
								<div class="col-lg-8 order-lg-1 order-2">
									<div class="tournament-list">
										<div class="item-tournament">
											<div class="item-tournament__wrap">
												<div class="item-tournament__image">
													<img src="images/team/01.jpg" alt="">
												</div>
												<div class="item-tournament__content">
													<h6>Gregory A. Flores </h6>
													<span class="social-icons">
														<a href="#" class="fab fa-facebook-f " title="facebook"></a>
														<a href="#" class="fab fa-twitter " title="twitter"></a>
													</span>
												</div>
											</div>
											<div class="item-tournament__dots"></div>
											<div class="item-tournament__score">
												<span>1234</span>
											</div>
										</div>
										<div class="item-tournament">
											<div class="item-tournament__wrap">
												<div class="item-tournament__image">
													<img src="images/team/02.jpg" alt="">
												</div>
												<div class="item-tournament__content">
													<h6>Gregory A. Flores </h6>
													<span class="social-icons">
														<a href="#" class="fab fa-facebook-f " title="facebook"></a>
														<a href="#" class="fab fa-twitter " title="twitter"></a>
													</span>
												</div>
											</div>
											<div class="item-tournament__dots"></div>
											<div class="item-tournament__score">
												<span>1234</span>
											</div>
										</div>
										<div class="item-tournament">
											<div class="item-tournament__wrap">
												<div class="item-tournament__image">
													<img src="images/team/03.jpg" alt="">
												</div>
												<div class="item-tournament__content">
													<h6>Gregory A. Flores </h6>
													<span class="social-icons">
														<a href="#" class="fab fa-facebook-f " title="facebook"></a>
														<a href="#" class="fab fa-twitter " title="twitter"></a>
													</span>
												</div>
											</div>
											<div class="item-tournament__dots"></div>
											<div class="item-tournament__score">
												<span>1234</span>
											</div>
										</div>
										<div class="item-tournament">
											<div class="item-tournament__wrap">
												<div class="item-tournament__image">
													<img src="images/team/04.jpg" alt="">
												</div>
												<div class="item-tournament__content">
													<h6>Gregory A. Flores </h6>
													<span class="social-icons">
														<a href="#" class="fab fa-facebook-f " title="facebook"></a>
														<a href="#" class="fab fa-twitter " title="twitter"></a>
													</span>
												</div>
											</div>
											<div class="item-tournament__dots"></div>
											<div class="item-tournament__score">
												<span>1234</span>
											</div>
										</div>

									</div>
								</div>
								<div class="col-lg-4 order-lg-2 order-1">
									<div class="ls ms vertical-item text-center item-tournament-winner">
										<div class="item-media">
											<img src="images/team/testimonial2.jpg" alt="">
										</div>
										<div class="item-content">
											<h5>Gregory A. Flores</h5>
											<p>Best Player</p>
											<h6 class="score">2345</h6>
											<p>Scores</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Section Tournament -->

			<!-- Start Section Team -->
			<section class="ds s-py-xl-150 s-py-lg-130 s-py-md-90 s-py-60 container-px-xl-0 with-particles">
				<div id="team" class="particles-js"></div>
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 text-center text-sm-left">
							<div class="special-column-center d-block d-sm-flex">
								<div class="special-class">
									<p class="special-heading text-center big thin color-main">
										<span>04</span>
									</p>
									<p class="special-heading text-center text-uppercase sub-title2 color-light">
										<span>
											our team
										</span>
									</p>
									<div class="fw-divider-space divider-30 divider-lg-40"></div>
									<a href="#" class="btn btn-maincolor medium-btn">View all</a>
									<div class="fw-divider-space divider-30 divider-sm-0"></div>
								</div>
								<div class="text-block with-left-space">
									<p class="excerpt">
										Kids Chess Club is a non-profit Company founded.
									</p>
									<p>
										Our goal is to teach children in grades K-12 abstract concepts of planning, analysis and
										strategy through the game of chess.
									</p>
									<p>
										Kids will be excited to understand and amazed by the positive experience that chess offers.
									</p>
								</div>

							</div>
						</div>
						<div class="col-lg-6">
							<div class="fw-divider-space divider-40 divider-lg-0"></div>
							<div class="isotope-wrapper shortcode-team team-layout2 isotope row masonry-layout c-gutter-10 c-mb-10">
								<div class="isotope-item col-xl-4 col-lg-6 col-md-4 col-sm-6 col-xs-12">
									<div class="vertical-item cs item-team content-absolute content-show-hover text-center">
										<div class="item-media">
											<img src="images/team/01.jpg" alt="team">
										</div>
										<div class="item-content">
											<h6>
												<a href="team-single.html">Ellen V. Johnson</a>
											</h6>
											<p class="small-text color-darkgrey">
												support
											</p>
											<span class="social-icons">
												<a href="#" class="fab fa-facebook-f" title="facebook"></a>
												<a href="#" class="fab fa-telegram-plane" title="telegram"></a>
												<a href="#" class="fab fa-instagram" title="instagram"></a>
												<a href="#" class="fab fa-linkedin-in" title="linkedin"></a>
											</span>
										</div>
									</div>
								</div>
								<div class="isotope-item col-xl-4 col-lg-6 col-md-4 col-sm-6 col-xs-12">
									<div class="vertical-item cs item-team content-absolute content-show-hover text-center">
										<div class="item-media">
											<img src="images/team/02.jpg" alt="team">
										</div>
										<div class="item-content">
											<h6>
												<a href="team-single.html">Ellen V. Johnson</a>
											</h6>
											<p class="small-text color-darkgrey">
												support
											</p>
											<span class="social-icons">
												<a href="#" class="fab fa-facebook-f" title="facebook"></a>
												<a href="#" class="fab fa-telegram-plane" title="telegram"></a>
												<a href="#" class="fab fa-instagram" title="instagram"></a>
												<a href="#" class="fab fa-linkedin-in" title="linkedin"></a>
											</span>
										</div>
									</div>
								</div>
								<div class="isotope-item col-xl-4 col-lg-6 col-md-4 col-sm-6 col-xs-12">
									<div class="vertical-item cs item-team content-absolute content-show-hover text-center">
										<div class="item-media">
											<img src="images/team/03.jpg" alt="team">
										</div>
										<div class="item-content">
											<h6>
												<a href="team-single.html">Ellen V. Johnson</a>
											</h6>
											<p class="small-text color-darkgrey">
												support
											</p>
											<span class="social-icons">
												<a href="#" class="fab fa-facebook-f" title="facebook"></a>
												<a href="#" class="fab fa-telegram-plane" title="telegram"></a>
												<a href="#" class="fab fa-instagram" title="instagram"></a>
												<a href="#" class="fab fa-linkedin-in" title="linkedin"></a>
											</span>
										</div>
									</div>
								</div>
								<div class="isotope-item col-xl-4 col-lg-6 col-md-4 col-sm-6 col-xs-12">
									<div class="vertical-item cs item-team content-absolute content-show-hover text-center">
										<div class="item-media">
											<img src="images/team/04.jpg" alt="team">
										</div>
										<div class="item-content">
											<h6>
												<a href="team-single.html">Ellen V. Johnson</a>
											</h6>
											<p class="small-text color-darkgrey">
												support
											</p>
											<span class="social-icons">
												<a href="#" class="fab fa-facebook-f" title="facebook"></a>
												<a href="#" class="fab fa-telegram-plane" title="telegram"></a>
												<a href="#" class="fab fa-instagram" title="instagram"></a>
												<a href="#" class="fab fa-linkedin-in" title="linkedin"></a>
											</span>
										</div>
									</div>
								</div>
								<div class="isotope-item col-xl-4 col-lg-6 col-md-4 col-sm-6 col-xs-12">
									<div class="vertical-item cs item-team content-absolute content-show-hover text-center">
										<div class="item-media">
											<img src="images/team/05.jpg" alt="team">
										</div>
										<div class="item-content">
											<h6>
												<a href="team-single.html">Ellen V. Johnson</a>
											</h6>
											<p class="small-text color-darkgrey">
												support
											</p>
											<span class="social-icons">
												<a href="#" class="fab fa-facebook-f" title="facebook"></a>
												<a href="#" class="fab fa-telegram-plane" title="telegram"></a>
												<a href="#" class="fab fa-instagram" title="instagram"></a>
												<a href="#" class="fab fa-linkedin-in" title="linkedin"></a>
											</span>
										</div>
									</div>
								</div>
								<div class="isotope-item col-xl-4 col-lg-6 col-md-4 col-sm-6 col-xs-12">
									<div class="vertical-item cs item-team content-absolute content-show-hover text-center">
										<div class="item-media">
											<img src="images/team/06.jpg" alt="team">
										</div>
										<div class="item-content">
											<h6>
												<a href="team-single.html">Ellen V. Johnson</a>
											</h6>
											<p class="small-text color-darkgrey">
												support
											</p>
											<span class="social-icons">
												<a href="#" class="fab fa-facebook-f" title="facebook"></a>
												<a href="#" class="fab fa-telegram-plane" title="telegram"></a>
												<a href="#" class="fab fa-instagram" title="instagram"></a>
												<a href="#" class="fab fa-linkedin-in" title="linkedin"></a>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="mt--10"></div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Section Team -->

			<!-- Start Section Gallery -->
			<section class="ls s-pt-lg-0 s-pt-md-90 s-pt-60 s-pb-lg-0 s-pb-md-90 s-pb-60 c-gutter-0 container-px-xl-0">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 text-center text-sm-left">
							<div class="special-column-center d-block d-sm-flex">
								<div class="special-class">
									<p class="special-heading text-center big thin color-main">
										<span>05</span>
									</p>
									<p class="special-heading text-center text-uppercase sub-title2 color-darkgrey">
										<span>
											our gallery
										</span>
									</p>
									<div class="fw-divider-space divider-30 divider-lg-40"></div>
									<a href="#" class="btn btn-maincolor medium-btn">View all</a>
									<div class="fw-divider-space divider-30 divider-sm-0"></div>
								</div>
								<div class="text-block with-left-space">
									<p class="excerpt">
										Kids Chess Club is a non-profit Company founded.
									</p>
									<p>
										Our goal is to teach children in grades K-12 abstract concepts of planning, analysis and
										strategy through the game of chess.
									</p>
									<p>
										Kids will be excited to understand and amazed by the positive experience that chess offers.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="fw-divider-space divider-30 divider-lg-0"></div>
							<div id="parent">
								<div id="propertyThumbnails" class="row shortcode-gallery c-gutter-10 c-mb-10">
									<div class="col-12 col-sm-6">
										<div class="vertical-item item-gallery content-absolute content-show-hover text-center text-center cs">
											<div class="item-media">
												<img src="images/gallery/rectangle/01.jpg" alt="img">
											</div>
											<div class="item-content ">
												<h6>
													<a href="gallery-single.html">Elitr sed diam nonumy</a>
												</h6>
												<div class="links-wrap">
													<a class="link-zoom photoswipe-link" href="images/gallery/full/01.jpg"></a>
													<a class="link-anchor" href="gallery-single.html"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="vertical-item item-gallery content-absolute content-show-hover text-center text-center cs">
											<div class="item-media">
												<img src="images/gallery/rectangle/02.jpg" alt="img">
											</div>
											<div class="item-content ">
												<h6>
													<a href="gallery-single.html">Elitr sed diam nonumy</a>
												</h6>
												<div class="links-wrap">
													<a class="link-zoom photoswipe-link" href="images/gallery/full/02.jpg"></a>
													<a class="link-anchor" href="gallery-single.html"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="vertical-item item-gallery content-absolute content-show-hover text-center text-center cs">
											<div class="item-media">
												<img src="images/gallery/rectangle/03.jpg" alt="img">
											</div>
											<div class="item-content ">
												<h6>
													<a href="gallery-single.html">Elitr sed diam nonumy</a>
												</h6>
												<div class="links-wrap">
													<a class="link-zoom photoswipe-link" href="images/gallery/full/03.jpg"></a>
													<a class="link-anchor" href="gallery-single.html"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="vertical-item item-gallery content-absolute content-show-hover text-center text-center cs">
											<div class="item-media">
												<img src="images/gallery/rectangle/04.jpg" alt="img">
											</div>
											<div class="item-content ">
												<h6>
													<a href="gallery-single.html">Elitr sed diam nonumy</a>
												</h6>
												<div class="links-wrap">
													<a class="link-zoom photoswipe-link" href="images/gallery/full/04.jpg"></a>
													<a class="link-anchor" href="gallery-single.html"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="vertical-item item-gallery content-absolute content-show-hover text-center text-center cs">
											<div class="item-media">
												<img src="images/gallery/rectangle/05.jpg" alt="img">
											</div>
											<div class="item-content ">
												<h6>
													<a href="gallery-single.html">Elitr sed diam nonumy</a>
												</h6>
												<div class="links-wrap">
													<a class="link-zoom photoswipe-link" href="images/gallery/full/05.jpg"></a>
													<a class="link-anchor" href="gallery-single.html"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="vertical-item item-gallery content-absolute content-show-hover text-center text-center cs">
											<div class="item-media">
												<img src="images/gallery/rectangle/06.jpg" alt="img">
											</div>
											<div class="item-content ">
												<h6>
													<a href="gallery-single.html">Elitr sed diam nonumy</a>
												</h6>
												<div class="links-wrap">
													<a class="link-zoom photoswipe-link" href="images/gallery/full/06.jpg"></a>
													<a class="link-anchor" href="gallery-single.html"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="vertical-item item-gallery content-absolute content-show-hover text-center text-center cs">
											<div class="item-media">
												<img src="images/gallery/rectangle/07.jpg" alt="img">
											</div>
											<div class="item-content ">
												<h6>
													<a href="gallery-single.html">Elitr sed diam nonumy</a>
												</h6>
												<div class="links-wrap">
													<a class="link-zoom photoswipe-link" href="images/gallery/full/07.jpg"></a>
													<a class="link-anchor" href="gallery-single.html"></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="vertical-item item-gallery content-absolute content-show-hover text-center text-center cs">
											<div class="item-media">
												<img src="images/gallery/rectangle/08.jpg" alt="img">
											</div>
											<div class="item-content ">
												<h6>
													<a href="gallery-single.html">Elitr sed diam nonumy</a>
												</h6>
												<div class="links-wrap">
													<a class="link-zoom photoswipe-link" href="images/gallery/full/08.jpg"></a>
													<a class="link-anchor" href="gallery-single.html"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="mt--10"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Section Gallery -->

			<!-- Start Section Testimonials -->
			<section class="ds s-py-xl-150 s-py-lg-130 s-py-md-90 s-py-60 with-particles">
				<div id="testimonials" class="particles-js"></div>
				<div class="container">
					<div class="row">
						<div class="col-12 col-xl-10 offset-xl-1">
							<p class="special-heading text-center color-main sub-title">
								<span class="text-uppercase">
									testimonial
								</span>
							</p>
							<h2 class="special-heading text-center">
								<span class="text-capitalize ">
									what <span class="color-main">people</span> say
								</span>
							</h2>
							<p class="special-heading text-center color-darkgrey">
								<span>
									We are dedicated to broadening and developing chess as art, recreation, and as a significant element of culture in Northern California.
								</span>
							</p>
							<div class="fw-divider-space divider-30 divider-lg-60"></div>
							<div class="owl-carousel shortcode-quote quote-layout-1" data-center="false" data-autoplay="false" data-nav="true" data-margin="30" data-loop="true" data-responsive-lg="1" data-responsive-md="2" data-responsive-sm="2" data-responsive-xs="1">
								<div class="side-item box-shadow ls item-quote content-padding text-center">
									<div class="item-media">
										<img src="images/team/testimonial1.jpg" alt="img">
									</div>
									<div class="item-content">
										<blockquote>
											<p>
												The co-founder of ChessBase and the brain behind the ChessBase software Matthias
												Wullenweber tells us all about the new.
											</p>
										</blockquote>
										<h6>
											Eva L. Donley
										</h6>
										<span class="small-text">
											Chess Teacher
										</span>
									</div>
								</div>
								<div class="side-item box-shadow ls item-quote content-padding text-center">
									<div class="item-media">
										<img src="images/team/testimonial1.jpg" alt="img">
									</div>
									<div class="item-content">
										<blockquote>
											<p>
												The co-founder of ChessBase and the brain behind the ChessBase software Matthias
												Wullenweber tells us all about the new.
											</p>
										</blockquote>
										<h6>
											Eva L. Donley
										</h6>
										<span class="small-text">
											Chess Teacher
										</span>
									</div>
								</div>
								<div class="side-item box-shadow ls item-quote content-padding text-center">
									<div class="item-media">
										<img src="images/team/testimonial1.jpg" alt="img">
									</div>
									<div class="item-content">
										<blockquote>
											<p>
												The co-founder of ChessBase and the brain behind the ChessBase software Matthias
												Wullenweber tells us all about the new.
											</p>
										</blockquote>
										<h6>
											Eva L. Donley
										</h6>
										<span class="small-text">
											Chess Teacher
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Section Testimonials -->

			<!-- Start Section Blog -->
			<section class="ls s-py-xl-150 s-py-lg-130 s-py-md-90 s-py-60">
				<div class="container">
					<div class="row">
						<div class="col-12 ">
							<p class="special-heading text-center color-darkgrey sub-title">
								<span class="text-uppercase">
									blog
								</span>
							</p>
							<h2 class="special-heading text-center">
								<span class="text-capitalize ">
									our <span class="color-main">news</span> & blogs
								</span>
							</h2>
							<p class="special-heading text-center color-darkgrey">
								<span>
									We are dedicated to broadening and developing chess as art, recreation, and as a significant element of culture in Northern California.
								</span>
							</p>
							<div class="fw-divider-space divider-30 divider-lg-60"></div>
							<div class="row c-mb-30">
								<div class="col-lg-4">
									<article class="text-center vertical-item ls content-padding box-shadow post type-post status-publish format-standard has-post-thumbnail">
										<div class="item-media post-thumbnail">
											<a href="blog-single-full.html">
												<img src="images/blog/02-2.jpg" alt="img">
											</a>
											<span class="cat-links">
												<a href="blog-right.html" rel="category tag">
													Academicchess
												</a>
											</span>
										</div><!-- .post-thumbnail -->
										<div class="item-content">
											<header class="entry-header">
												<h6 class="entry-title">
													<a href="blog-single-full.html" rel="bookmark">
														Best Women Chess Players Of Time
													</a>
												</h6>
											</header>
											<!-- .entry-header -->
											<div class="entry-content">
												<p>
													Since the standard of play has significantly been raised in woman’s chest over the last few
												</p>
											</div><!-- .entry-content -->
											<footer class="entry-footer">
												<div class="entry-meta">
													<span class="byline">
														<span class="author vcard">
															<i class="far fa-user"></i>
															<a class="url fn n" href="blog-right.html">John Adamov</a>
														</span>
													</span>
												</div>
												<a href="blog-single-full.html" class="btn btn-darkgrey round">more</a>
											</footer>
										</div><!-- .item-content -->
									</article><!-- #post-## -->
								</div>
								<div class="col-lg-8">
									<article class="text-center vertical-item ls content-padding box-shadow post type-post status-publish format-standard has-post-thumbnail">
										<div class="item-media post-thumbnail">
											<a href="blog-single-full.html">
												<img src="images/blog/01-1.jpg" alt="img">
											</a>
											<span class="cat-links">
												<a href="blog-right.html" rel="category tag">
													Academicchess
												</a>
											</span>
										</div><!-- .post-thumbnail -->
										<div class="item-content">
											<header class="entry-header">
												<h6 class="entry-title">
													<a href="blog-single-full.html" rel="bookmark">
														The Psychology Of Chess And The Best Women Chess Players Of All Time
													</a>
												</h6>
											</header>
											<!-- .entry-header -->
											<div class="entry-content">
												<p>
													Since the standard of play has significantly been raised in woman’s chest over the last few decades,
													there are now several women competing against the top players in the world. Chest over the last few
												</p>
											</div><!-- .entry-content -->
											<footer class="entry-footer">
												<div class="entry-meta">
													<span class="byline">
														<span class="author vcard">
															<i class="far fa-user"></i>
															<a class="url fn n" href="blog-right.html">John Adamov</a>
														</span>
													</span>
												</div>
												<a href="blog-single-full.html" class="btn btn-darkgrey round">more</a>
											</footer>
										</div><!-- .item-content -->
									</article><!-- #post-## -->
								</div>
							</div>
							<div class="mt--30"></div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Section Blog -->

			<!-- Start Section Partners -->
			<section class="ls ms s-py-lg-100 s-py-md-90 s-py-60">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="owl-carousel" data-center="false" data-autoplay="true" data-margin="20" data-loop="true" data-responsive-lg="8" data-responsive-md="4" data-responsive-sm="3" data-responsive-xs="2">
								<a class="text-center d-block" href="#">
									<img src="images/partners/01.png" alt="img">
								</a>
								<a class="text-center d-block" href="#">
									<img src="images/partners/02.png" alt="img">
								</a>
								<a class="text-center d-block" href="#">
									<img src="images/partners/03.png" alt="img">
								</a>
								<a class="text-center d-block" href="#">
									<img src="images/partners/04.png" alt="img">
								</a>
								<a class="text-center d-block" href="#">
									<img src="images/partners/05.png" alt="img">
								</a>
								<a class="text-center d-block" href="#">
									<img src="images/partners/06.png" alt="img">
								</a>
								<a class="text-center d-block" href="#">
									<img src="images/partners/07.png" alt="img">
								</a>
								<a class="text-center d-block" href="#">
									<img src="images/partners/08.png" alt="img">
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Section Partners -->


			<footer class="page_footer footer-1 text-center text-sm-left  ds s-pt-60 s-pb-30 c-mb-30 s-bordertop">
				<div class="container-fluid">
					<div class="row justify-content-center align-items-center">

						<div class="col-xl-2 col-12 text-xl-left text-center  animate" data-animation="fadeInUp">
							<a href="./" class="logo">
								<img src="img/logo.png" alt="">
							</a>
						</div>

						<div class="col-xl-8 col-12 text-center animate" data-animation="fadeInUp">

							<div class="widget widget_nav_menu">
								<ul class="list-unstyled">
									<li>
										<a href="about.html">About</a>
									</li>

									<li>
										<a href="courses.html">Courses</a>
									</li>
									<li>
										<a href="blog-right.html">Blog</a>
									</li>
									<li>
										<a href="shop-right.html">Shop</a>
									</li>
									<li>
										<a href="contact.html">Contact Us</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xl-2 col-12 text-center text-xl-right animate" data-animation="fadeInUp">
							<span class="social-icons">
								<a href="#" class="fab fab fa-facebook-f @@iconClass" title="facebook"></a>
								<a href="#" class="fab fa-telegram-plane @@iconClass" title="telegram"></a>
								<a href="#" class="fab fa-linkedin-in @@iconClass" title="linkedin"></a>
								<a href="#" class="fab fa-instagram @@iconClass" title="instagram"></a>
							</span>
						</div>

					</div>
				</div>
			</footer>


			<section class="page_copyright copyright1 ds s-pt-70 s-pb-60 s-bordertop">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-12">
							<div class="widget widget_mailchimp">


								<form class="signup" action="/">

									<i class="far fa-envelope"></i>
									<input name="email" type="email" class="form-control mailchimp_email" placeholder="Email address">

									<button type="submit" class="search-submit">
										<span class="screen-reader-text">
											Subscribe
										</span>
									</button>
									<div class="response"></div>
								</form>

							</div>
						</div>
						<div class="col-md-12 text-center">

							<p>&copy; Copyright <span class="copyright_year">2019</span> All Rights Reserved</p>
						</div>

					</div>
				</div>
			</section>


		</div><!-- eof #box_wrapper -->
	</div><!-- eof #canvas -->


	<script src="js/compressed.js"></script>
	<script src="js/main.js"></script>


</body>

</html>