<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chesstar</title>
    <meta charset="utf-8">
    <th:block th:replace="fragments/imports :: imports"></th:block>
</head>

<body>
<th:block th:replace="fragments/school_header :: school_header"></th:block>

<section class="page_title ds s-overlay s-pt-150 s-pb-50">
    <div class="s-blur"></div>
    <div class="container">
        <div class="row">


            <div class="col-md-12 text-center">
                <h1>Student</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="./index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Student</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <span th:text="${student.name}">Student Name</span>
                    </li>
                </ol>
            </div>


        </div>
    </div>
</section>


<section class="ls s-py-xl-150 s-py-lg-120 s-py-md-80 s-py-50">
    <div class="container">

        <section class="woocommerce-customer-details">

            <h2>School details</h2>

            <table class="woocommerce-table woocommerce-table--customer-details shop_table customer_details">


                <tbody>
                <tr>
                    <th>Name:</th>
                    <td th:text="${student.getName()}"></td>
                </tr>

                <tr>
                    <th>Rating:</th>
                    <td th:text="${student.getRating()}"></td>
                </tr>

                <tr>
                    <th>School Name:</th>
                    <td th:text="${student.getSchool().name}"></td>
                </tr>

                <tr>
                    <th>Status:</th>
                    <td th:text="${student.getUser().enabled}"></td>
                </tr>

                </tbody>
            </table>
        </section>

        <section class="woocommerce-customer-details">

            <h2>User details</h2>

            <table class="woocommerce-table woocommerce-table--customer-details shop_table customer_details">


                <tbody>
                <tr>
                    <th>Email:</th>
                    <td th:text="${student.getUser().getEmail()}"></td>
                </tr>

                <tr>
                    <th>User Name:</th>
                    <td th:text="${student.getUser().getUsername()}"></td>
                </tr>


                </tbody>
            </table>


            <a href="/school/students">Back to Student List</a>
        </section>
    </div>
</section>




<footer class="page_footer footer-1 text-center text-sm-left  ds s-pt-60 s-pb-30 c-mb-30 s-bordertop">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">

            <div class="col-xl-2 col-12 text-xl-left text-center  animate" data-animation="fadeInUp">
                <a href="./" class="logo">
                    <img th:src="@{/img/logo.png}" alt="">
                </a>
            </div>

            <div class="col-xl-8 col-12 text-center animate" data-animation="fadeInUp">

                <div class="widget widget_nav_menu">
                    <ul class="list-unstyled">
                        <li>
                            <a href="about.html">About</a>
                        </li>

                        <li>
                            <a href="courses.html">Courses</a>
                        </li>
                        <li>
                            <a href="blog-right.html">Blog</a>
                        </li>
                        <li>
                            <a href="shop-right.html">Shop</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-12 text-center text-xl-right animate" data-animation="fadeInUp">
							<span class="social-icons">
								<a href="#" class="fab fab fa-facebook-f @@iconClass" title="facebook"></a>
								<a href="#" class="fab fa-telegram-plane @@iconClass" title="telegram"></a>
								<a href="#" class="fab fa-linkedin-in @@iconClass" title="linkedin"></a>
								<a href="#" class="fab fa-instagram @@iconClass" title="instagram"></a>
							</span>
            </div>

        </div>
    </div>
</footer>


<section class="page_copyright copyright1 ds s-pt-70 s-pb-60 s-bordertop">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="widget widget_mailchimp">


                    <form class="signup" action="/">

                        <i class="far fa-envelope"></i>
                        <input name="email" type="email" class="form-control mailchimp_email" placeholder="Email address">

                        <button type="submit" class="search-submit">
										<span class="screen-reader-text">
											Subscribe
										</span>
                        </button>
                        <div class="response"></div>
                    </form>

                </div>
            </div>
            <div class="col-md-12 text-center">

                <p>&copy; Copyright <span class="copyright_year">2019</span> All Rights Reserved</p>
            </div>

        </div>
    </div>
</section>


</div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->


<script th:src="@{/js/compressed.js}"></script>
<script th:src="@{/js/main.js}"></script>


</body>

</html>